* {
    box-sizing: border-box;
    margin: 1px;
    Padding: 1px;
}

nav {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: georgia, "times new roman", times, serif;
    text-align: center;
    background color: #53a28a;
    border-radius: 8px;
}

h1 {
    color: #009989;
    font-size: 40px;
    line-height: 44px;
    margin-top: 4px;
}

h2 {
    color: 043330;
    font-size: 22px;
} 


p {
    font-family: georgia, "times new roman", times, serif;
    font-size: 16px;
    line-height: 22px; 
    margin-bottom: 16px;
}

img {
    border: 5px solid #043330;
    padding: 5px; /* TRouBLe */
    width: 100%;
}


body {
    background-color: #adb9c9;
    font-family: georgia, times, sarif;
    font-size: 16px;
    line-height: 24px;
}


aside {
    background-color: #000;
    float: right; 
    margin: 0 0 10px 5%;
    width: 47.5%;
}

footer {
    clear: both;
    font-size: 12px;
    padding: 0 10px 0 10px;
}